// 用于覆盖 element-plus 的样式变量
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #ff5f5f
    ),
    'success': (
      'base': #31cf9a
    ),
    'warning': (
      'base': #ffbc33
    ),
    'danger': (
      'base': #ff5f5f
    ),
    'error': (
      'base': #ff5f5f
    ),
    'info': (
      'base': #909399
    )
  ),
  $text-color: (
    'primary': #455a74,
    'regular': #455a74
  ),
  $font-size: (
    'base': 12px
  ),
  $border-color: (
    '': #ebebeb
  ),
  $input-font-size: (
    'default': 12px
  ),
  $select: (
    'input-font-size': 12px
  ),
  $table-font-size: (
    'default': 12px
  )
);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
//  @use "element-plus/theme-chalk/src/index.scss" as *;
