// 全局样式
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DMSans.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat.woff2') format('woff2');
}
