// 颜色变量
$theme: #133d35;
$blue: #11342e;
$text_bg: #12453b;
$top_border: #2f5750;
$white: #fff;
$light_yellow: #ede3c4;
$active_color: #d7c491;
$red: #9d273b;
$orange: #cd9965;
$brown: #cab095;
$brick_red: #8d4820;
$orange_bg: #cab095;
$text_color: #471f05;
$text_color2: #3e2310;
$light_blue: #8bbac4;

// 主题色
$primary-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;

// 文字颜色
$text-color: #333;
$text-color-secondary: #666;
$text-color-light: #999;

// 背景色
$bg-color: #f0f2f5;
$bg-color-light: #fafafa;

// 边框色
$border-color: #e8e8e8;

// 阴影
$box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

// 断点
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
